.au {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    direction: rtl;

    form {
        max-width: 600px;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        div{
            width:100%; 
            direction:ltr;
        }
    }

    fieldset {
        border: 2px solid #ebbebe;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 15px;
    }

    .error-message{
        color: red;
    }
    
    legend {
        font-size: 1.2em;
        color: #333;
        font-weight: bold;
    }

    label {
        display: block;
        margin: 10px 0 5px;
        color: #555;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
        width: calc(100% - 22px);
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #ebbebe;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    input[type="submit"]:hover {
        background-color: #eca1a1;
    }
}